
<h2>Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes "  (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
 
  <app-powers [hero]="selectedHero"></app-powers>
</div>



